body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFFFF;   
}

.main-container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
}  

/* Main content section */

.main-content-section {
  padding: 50px 50px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.3),
  rgba(47, 48, 58, 0.3)),
  url("../img/3Kog4AasDjY.jpg");
  background-color: #2F303A;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color:#3b2579;
  margin-bottom: 10px;

}
.my-role{
  color: #FFFFFF;
  font-size: 16px;
}
/* About me section */

.about-me-section {
  margin: 0 0 40px 0;
}
.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #A8A8A8;
  margin: 0 0 20px 0;

}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 33px;
  color: #FB6D3A; 
  text-decoration: none;
}
.name-link{
  font-size: 16px;
}
.about-me-name:hover::after,
.about-me-name:focus::after,
.about-me-name:active::after {
  display: block;
  content:"";
  height: 3px;
  background: #FB6D3A;
  color: #FB6D3A;
  cursor: pointer;
  font-size: 10px;
}
.about-me-description {
  width: 600px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffff;
}  

/*  My projects section*/

.my-projects-section {
  margin: 0 0 25px 0;
}
.my-projects-list {
  padding: 0 0 0 17px;
  font-weight: 700;
  color: #FB6D3A; 
  
}

.my-projects-link:hover {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff; 
}

.Capa_1 {
  fill:#FFFFFF;
  margin-top: 10px;
}
.Capa_1:hover {
  fill:blueviolet;
}
.my-projects-text:hover {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-left: 5px;
}
.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #FB6D3A;
}

/* My-education */

.my-education-section {
  margin: 0 40px 0 0;
}

.my-education-company {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FB6D3A;
}
.my-education-position {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}
/* My work experience */

.my-work-experience-section {
  margin-bottom: 45px;
}

.my-work-experience-company {
  color: #ffff;
}
.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
    color: #FB6D3A;
}
.my-work-experience-time {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}
.my-work-experience-duties {
  padding: 0 0 0 18px;
}
.time-devider {
  color: #A8A8A8;
}
.my-work-experience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;  
}
.my-work-experience-company-block {
  margin: 0 15px 0 0;
}

/* Sidebar section */

.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}

.contacts-section,
.tech-skills-section,
.soft-skills-section {
  margin: 50px 0 0 40px;
}
.sidebar-title {
  font-weight: bold; 
  font-style: normal;
  font-size: 22px;
  line-height: 27px;
  color:#f8603a;
}

/*Contacts section*/

.contacts-section-link {
  color:#FFFFFF;
  font-weight: normal; 
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;

}
.contacts-section-link:hover{
  color:blueviolet;
}

/*Tech skills section*/

.tech-skills-list {
  padding-left: 20px;
}
.tech-skills-item {
  color: #f8603a;
}
.tech-skills-item-text {
  color: #FFFFFF;
  font-weight: normal; 
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}
/*Soft skills section*/

.soft-skills-list {
  padding-left: 20px;
}
.soft-skills-item {
  color: #f8603a;
}
.soft-skills-item-text {
  color: #FFFFFF;
  font-weight: normal; 
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}
/* languages */

.languages-list{
  padding-left: 20px;
}



 

